<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Hello World!</title>
	</head>
	<body>
		<div th:fragment="copy" id="layoutTemplate">
			<div style="width:96%; height:500px; display:none;" id='layoutStyle1'>
				<div style="margin: 5px; border: solid 1px black; width: 100%; height:100%" id="section1"></div>
			</div>
			
			<div style="width:100%; height:500px; display:none;" id='layoutStyle2'>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 48%; height:100%" id="section1"></div>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 48%; height:100%" id="section2"></div>
			</div>
			
			<div style="width:100%; height:500px; display:none;" id='layoutStyle3'>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 31%; height:100%" id="section1"></div>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 31%; height:100%" id="section2"></div>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 31%; height:100%" id="section3"></div>
			</div>
		</div>
	</body>
</html>